.login{
    height: 100vh;
    width: 100%;
    background-color: #EDF1F7;
  
}
nav{
    width: 100%;
    padding: 9px 20px;
    background-color: white;
    color:#012970;
    font-weight: 700;
    font-size: 24px;
    box-shadow: #212529 1ch;

}
main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-direction: row;
   
}
.login-text{
    position: absolute;
    width: 621px;
    top: 167px;
    left: 106px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.login-text h1{
    font-weight:400 ;
    font-size: 64px;
    color: #212529;
}
h1 span{
    color: #4154F1;
}
.login-register{
    display: flex;
    width: 624px;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 62px;
    left: 806px;
    padding: 48px 49px 48px 49px;
    gap: 26px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFF;
    border-radius: 4px;
}
.btn-container{
    width: 100%;
    display: flex;
    gap: 40px;
}
.btn{
    display: flex;
    width: 207px;
    height: 56px;
    padding: 16px 8px 16px 8px;
    gap: 12px;
    border-radius: 8px ;
    border: 1px solid #5F6EF1;
    opacity: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #3C4EF1;
    text-align: center;
}
.btn input{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    gap: 0px;
    border: 1px solid #3C4EF1;
    opacity: 0px;

}
form .name-box , .password{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #212529;
}
#name , #password {
    height: 34px;
    border-radius: 4px;
    border: 2px solid #EDF1F7;
    color: #212529;
    padding-left: 10px;
    
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
#checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.sign-in{
    width: 74px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    background-color: #4154F1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}
.here{
    color: #0DCAF0;
    cursor: pointer;
}